<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZY17XZJWMR"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ZY17XZJWMR');
  </script>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-P7QT6FM');</script>
  <!-- End Google Tag Manager -->

  <!-- Metadata -->
  <meta name="author" content="Fabrizio Fubelli">
  <meta name="keywords" content="offensive hub, hacking, tool, cyber security, penetration testing, pentest, hack, offensive, software">

  <!-- Open Graph (Facebook) -->
  <meta property="og:url" content="https://offensivehub.org">
  <meta property="og:title" content="Offensive Hub - Open Source Offensive Penetration Testing Tools">
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:site_name" content="Offensive Hub - Open Source Offensive Penetration Testing Software">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en">
  <meta property="og:image:secure_url" content="https://offensivehub.org/logos/logos/og_image.jpg">
  <meta property="og:image" content="https://offensivehub.org/assets/logos/og_image.jpg">
  <meta property="og:image:alt" content="Offensive Hub Cover">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:title" content="Offensive Hub - Open Source Offensive Penetration Testing Tools">
  <meta name="twitter:site" content="@Offensive_Hub">
  <meta name="twitter:creator" content="@Offensive_Hub">
  <meta name="twitter:image" content="https://offensivehub.org/assets/logos/og_image.jpg">

  <!-- Viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link href="/assets/favicon/apple_touch_icon_76x76.png" rel="apple-touch-icon" sizes="76x76">
  <link href="/assets/favicon/apple_touch_icon_120x120.png" rel="apple-touch-icon" sizes="120x120">
  <link href="/assets/favicon/apple_touch_icon_152x152.png" rel="apple-touch-icon" sizes="152x152">
  <link href="/assets/favicon/apple_touch_icon_180x180.png" rel="apple-touch-icon" sizes="180x180">
  <link href="/assets/favicon/touch_icon_120x120.png" rel="icon" sizes="120x120">
  <link href="/assets/favicon/touch_icon_180x180.png" rel="icon" sizes="180x180">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="/assets/css/main.css">
</head>
